.card  {
    box-shadow: 0 0 6px 0px rgba(0,0,0,0.2);
    transition: box-shadow 0.1s ease-in-out;
}
.card h5 {
    color: black;
}
.card p {
    color: black;
    
}

.card-body {
    color: black;
    text-decoration: none;
}

    .card:hover {
        cursor: pointer;
        box-shadow: 0 0 6px 1px rgba(0,0,0,0.2);
    }

    .card img {
        width: 100px;
        height:200px;
        margin: auto;

    }